@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #ffff;
}

.banner {
    width: 100%;
    height: 100vh;
}

.menu_link {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.banner {
    background-image: url(../imagens/sao\ paulo2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header {
    width: 100%;
    height: 10vh;
    color: #fff;
    display: flex;
    padding: 0 10px;
    justify-content: space-between;
    align-items: center;
}
.header_hospedagem{
    width: 100%;
    height: 8vh;
    color: #fff;
    display: flex;
    padding: 0 10px;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(155, 72, 172);
}

.header_menu ul {
    display: flex;
}

.menu_link_item {
    font-size: 1rem;
    margin: 0 5px;
    font-weight: 100;
}

.header_chamada {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;

}

.titulo {
    font-size: 7rem;
    font-weight: 900;
    color: #fff;

}

.texto_saopaulo {
    width: 100vh;
    font-size: 1.4rem;
    align-items: center;
    margin-bottom: 2rem;
    color: #fff;
    /* background-color: rgba(227, 213, 230, 0.342);*/

}

.botao {
    padding: 15px 35px;
    background-color: rgba(155, 72, 172, 0.8);
    border-radius: 10px;
}

.rodape {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: rgba(155, 72, 172);
    padding: 1px 0;
}

.rodape ul {
    display: flex;
    justify-content: center;
    /* margin: 1px 46%;*/
}

.rodape ul li {
    margin: 0 10px;
}

.rodape ul li a {
    font-size: 1.4rem;

}

.rodape p {
    color: #fff;
    text-align: center;
}

.titulo_hospedagem{
    font-size: 2.5rem;
    text-align: center;
    color: rgba(155, 72, 172);
    margin: 30px;
    padding: 20px;
}

.pesquisar{
    font-size: 1.5rem;
    color: rgba(155, 72, 172);
    font-weight: 900;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 5px;
    margin: 30px;
   
}

.botao{
    
        font-size: 0.7rem;
        text-decoration: none;
        border: 1px solid  rgba(155, 72, 172);
        margin: 10px 15px;
        padding: 5px 10px;
        border-radius: 5px;
        background-color: rgba(155, 72, 172);
        color: #fff;
        text-transform: uppercase;
        font-weight: 900;
        letter-spacing: 1px;
        transition: all 0.5s ease;
        
    
    }
    .botao:hover{
        background-color: #fff;
        color:  rgba(155, 72, 172);
        border: 1px solid  rgba(155, 72, 172);
     }

.destino{
    width: 300px;
    padding: 5px;
    margin: 0 10px;
}

.check{
    font-size: 1rem;
    margin: 5px 5px;
}
.viagem{
    font-size: 0.8rem;
    font-weight: 900;
    margin: 10px 5px;
    padding: 2px;
}

.destaques{
    margin: 0 20px;
    font-size: 1.5rem;
    color: rgba(155, 72, 172);
    text-align: left;
}

.hotel{
    width: 900px;
    height: 520px;
    border: 2px solid rgb(133, 105, 105);
    margin: 1px 10px ;
    padding: 0 7px;
}


.option_hotel10 {
    display: flex;
    flex-direction: row-reverse;
    align-items:center;
    margin: 0 0px;
    padding: 20px 20%;
}

.option_hotel20 {
    display: flex;
    flex-direction:row;
    align-items: center;
    margin: 0 0px;
    padding: 20px 20%;
}

.option_hotel1 {
    display: flex;
    flex-direction: row-reverse;
    align-items:center;
    margin: 0 0px;
    padding: 20px 0px;
}

.option_hotel2 {
    display: flex;
    flex-direction:row;
    align-items: center;
    margin: 0 0px;
    padding: 20px 0px;
}


.hotel_imagem{
    margin-top: 10px;
    width: 100%;
}

.hotel_nome{
    margin: 10px 0;
    font-size: 25px;
    color:  rgba(155, 72, 172);
}


.estrela_cinza{
    color: #ccc;

}

.hotel_descrição{
    margin: 10px 0 10px;
    font-size: 15px;
    text-align: left;
    
}

.facilidades{
    margin: 5px 0 15px;
    font-size: 20px;
}
.facilidades_icone{
    font-size: 18px;
    margin: 20px;


}

.hotel_link{
    font-size: 12px;
    text-decoration: none;
    margin: 0px 20%;
    border: 1px solid  rgba(155, 72, 172);
    padding: 5px 20px;
    border-radius: 5px;
    background-color: rgba(155, 72, 172);
    color: #fff;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 1px;
    transition: all 0.5s ease;
    

}
.hotel_link:hover{
    background-color: #fff;
    color: #000;
    border: 2px solid rgba(10, 10, 10, 0.582);}
/*media query*/

@media (max-width: 400px) {
    html{
        font-size: 12px;
    }

    .titulo {
        font-size: 5rem;
        font-weight: 900;
        color: #fff;
    }

    .texto_saopaulo {
        width: 50vh;
        font-size: 1.2rem;
        align-items: center;
        margin-bottom: 2rem;


    }

    .hotel{
        width: 300px;
        height: 500px;
        border: 2px solid rgb(133, 105, 105);
        margin: 20px 10px ;
        padding: 0 7px;
    }


    .option_hotel10 {
        display: flex;
        flex-direction: column;
        align-items:center;
        padding: 0px 10px;
    }
    
    .option_hotel20 {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px 10px;
    }
    
    .option_hotel1 {
        display: flex;
        flex-direction:column;
        align-items:center;
        padding: 0 10px;
    }
    
    .option_hotel2 {
        display: flex;
        flex-direction:column;
        align-items: center;
        padding: 0 10px;
    
}
.titulo_hospedagem{
    font-size: 2rem;
    text-align: center;
    color: rgba(155, 72, 172);
    margin: 30px;
    padding: 20px;
}

.pesquisar{
    font-size: 1.8rem;
    color: rgba(155, 72, 172);
    font-weight: 900;
    display: flex;
    text-align: center ;
    flex-direction: column;
    padding: 5px;
    margin: 30px;
   
}


.destino{
    width: 300px;
    padding: 5px;
    margin: 0 10px;
}

.check{
    font-size: 1.8rem;
    margin: 5px 5px;
}
.viagem{
    font-size: 0.8rem;
    font-weight: 900;
    margin: 10px 5px;
    padding: 2px;
}

.destaques{
    font-size: 1.8rem;
    color: rgba(155, 72, 172);
    text-align: center;
}
}